<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col md="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
              
              <form cForm class="needs-validation" novalidate>
                <h1>Autenticação</h1>
                <p class="text-medium-emphasis">Autentique-se com seus dados de acesso</p>
                
                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cilUser"></svg>
                  </span>
                  <input 
                    [(ngModel)]="usuarioOperador.chaveAcesso" name="inputChaveAcesso" 
                    required
                    autofocus
                    cFormControl 
                    placeholder="Chave de Acesso" />

                    <div class="invalid-feedback">
                      Por favor, digite a sua chave de acesso.
                    </div> 

                </c-input-group>

                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cilLockLocked"></svg>
                  </span>
                  <input                    
                    [(ngModel)]="usuarioOperador.senha" name="inputSenha"
                    required
                    cFormControl
                    placeholder="Senha"
                    type="password"/>
                  
                  <div class="invalid-feedback">
                    Por favor, digite a senha.
                  </div> 

                </c-input-group>

                <c-row>
                  <c-col xs="6">
                    <button cButton class="px-4" (click)="login()" color="dark">
                      Entrar
                    </button>
                  </c-col>
                  <c-col class="text-right" xs="6">
                    <button cButton class="px-0" color="link">
                      Esqueceu a sua senha?
                    </button>
                  </c-col>
                </c-row>
              </form>

            </c-card-body>
          </c-card>
          <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-dark py-5">
            <c-card-body class="text-center">
              <div>
                <h2><strong><i>Full</i></strong>Control</h2>
                <p>
                  Sistema de Gerenciamento de Acesso e Pessoas
                </p>
                <p>
                  controladmin
                </p>
                <!--button [active]="true" cButton class="mt-3" color="dark" routerLink="/register">
                  Register Now!
                </button-->
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>
